* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(59, 59, 59);
    color: rgb(180, 180, 180);
}

#main-element {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#card {
    width: 40vw;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid black;
    padding: 20px;
}

.meal-container {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
}

.pizzas {
    margin-bottom: 50px;
    border: 1px solid black;
    width: 80%;
    padding: 20px;
    min-width: 100%;
}

.schnitzels {
    margin-bottom: 50px;
    border: 1px solid black;
    width: 80%;
    padding: 20px;
    width: 100%;
}